
* {
    box-sizing: border-box;
}


body{
    margin: 0px;
    overflow-x: hidden;
    background-color: white;
    font-family: "Quicksand", serif;
    display: flex;
    justify-content: center;

}


.projects{
   overflow-x: hidden; 
   width:  95%;
   max-width: 1500px;
 
   

}

.titleCont{
    
   
    z-index: 2;
    text-align: left;
    background-color: rgba(240, 240, 240, 1);

   
    color: black;

    width: 100%;
  
    display: flex;
    flex-direction: row;
   
    border-left: 1px solid black;
    border-right: 1px solid black;

    border-top: 1px solid black;

   
   
    
   
    

    
}

.title, .subtitle {
    margin: 0;
}

.logo{
    width: 60px;
    padding: 5px;
   
   transition: ease-in-out 0.1s;
   transition: transform  ease-in-out 0.4s;
   border-right: 1px solid black;
   
}
.logo:hover{
    transform: rotate(180deg);
  
}

.title{
    
    padding: 14px;
    border-right: 1px solid black;

    

   
    font-size: 24px;
    font-weight: 500;
   
    user-select: none; /* Prevents text selection */
    transition: ease-in-out 0.2s;
    
}


a{
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  
}


h4{
    font-size: 20px;
    font-weight: 500;

    user-select: none;
    transition: ease-in-out 0.2s;
   
}
/* 
Styling the image */


/* Styling the image */
img {

    width:100%;
    height: 70%;
    object-fit: cover; /* Makes the image fill the container while maintaining its aspect ratio */
    transition: ease-in-out 0.3s;

    opacity: 1;
    padding-bottom: 0rem;
    
    
   
    
}


.card {
    color: black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    
   
    
    
    height: 500px;

    background-color: white;
   
    transition:  0.3s ease-in-out; /* Optional: for color transition */



    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    
  
    padding: 1.5rem;
  
    
   
    
    
}

.card:hover  {
    background-color: rgb(200, 220, 255);
}

.card:hover img {
    transform: scale(1.05); /* Enlarge the image */
    opacity: 1;
    
    

}
.card:hover h4 {
    letter-spacing: 1px;
}
.card:hover .expl {
   
    transform: translate(0px, -20px);
    
   
}
.expl{
    font-size: 15px;
    transform: translatey(-30px);
    transition:  0.3s ease-in-out; /* Optional: for color transition */

}



.cards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    border-left: 1px solid black;

}

.tag{
    
    font-size: 18px;
    padding-left: 30px;
    padding-right: 10px;
    font-weight: 300;
   
    user-select: none; /* Prevents text selection */
    transition: ease-in-out 0.2s;
    
}



.separeatr{
    width: 100%;
    height: 50px;

     border-top: 1px solid black;
     border-bottom: 1px solid black;
     border-right: 1px solid black;
     border-left: 1px solid black;

   

   
   
    
   
   

    background-color: rgba(240, 240, 240, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    


   
}
.media{
    justify-content: space-evenly;
    width: 100%;
   
    flex-direction: row;    /* Align text and slider in a row */
    align-items: center;  
    flex-wrap: nowrap;
    display: flex;   

    background-color: rgba(240, 240, 240, 1);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
   

}
.m{
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
    border-left: 1px solid black;

    
    width: 100%;
    text-align: center;

    user-select: none; /* Prevents text selection */
    transition: ease-in-out 0.2s;
    text-decoration: none;
    color: black;
   
  
    

}

.m:hover{
    font-weight: 800;
    width: 140%;

}




@media (max-width: 600px) {
    .cards {
        grid-template-columns: 1fr; /* Each card takes up the full width */
    }
}

