body{
  margin: 0px;
  overflow-x: hidden;
  background-color: white;

  font-family: "Quicksand", serif;
 
}
*{
  margin: 0px;
  text-decoration: none;

}

.paper{
  padding-left: 30px;
  padding-right: 30px;

}
  
.top_row{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;

  
}
.line{
  border-bottom: 1px solid rgba(0, 0, 0, 0.246);
  margin-top: 30px;
  margin-bottom: 30px;
}
.linedown{
  border-bottom: 1px solid rgba(0, 0, 0, 0.246);

  margin-bottom: 20px;
}
.normal_text{
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
  color: black;
  transition: .3s ease-in-out;
  padding: 10px;
}

.nnormal_text{
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: black;
  transition: .3s ease-in-out;
  padding: 10px;
}
.nnormal_text:hover{
  background-color: rgba(0, 0, 0, 0.103);
}

.info{
  padding: 10px;
  }
.title_text{
  font-size: 70px;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: 0.5s ease-in;

}
.title_text:hover{
  transform: rotate(80deg);
}

.date{
  font-size: 20px;
  font-weight: 400;
  margin: 3px;

  
}

.fdate{
  font-size: 20px;
  font-weight: 400;
  margin: 3px;
  position: absolute;

  top: 10px;
  left: 10px;
  

  
}
.dates{
  font-size: 20px;
  font-weight: 400;
  margin: 3px;
  margin-left: 10%;
  margin-right: 10%;
  

}

.num{
  font-size: 20px;
  font-weight: 600;
  margin: 3px;
  
}

.category{
  font-size: 15px;
  font-weight: 400;
  margin: 0px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 19px;
  background-color: rgba(0, 0, 0, 0.103);
  width: fit-content;

}

.singleThing{

  display: flex;
  justify-content: space-between;
  transition:  0.3s ease-in-out; /* Optional: for color transition */
  position: relative;
}


.image_container{
  width: 60%;
  min-width: 100px;
  height: 400px;
  

}
.text_container{
  width: 80%;
  margin: 0px;
  margin-left: 10%;
  margin-right: 10%;
 
 

}

.itemcont{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;

}

.text_container_full{

  position: absolute;
  bottom: 10px;
  left: 10px;
  
}
.large_img {

  height: 500px; /* Fixed height for the container */
  width: 100%; /* Ensures the image stretches across the container */
  object-fit: cover; /* Crops the image to cover the container while maintaining aspect ratio */
  display: block; /* Prevents extra space below the image */
}
.img {

  height: 100%; /* Fixed height for the container */
  width: 100%; /* Ensures the image stretches across the container */
  object-fit: cover; /* Crops the image to cover the container while maintaining aspect ratio */
  display: block; /* Prevents extra space below the image */
}

.ttitle{
  display: flex;
  flex-direction: row;
}



.fullThing{ 
  

    position: relative; /* Make the parent container a positioning context */
    width: 100%; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    transition:0.3s ease-in-out;

}

.fullThing_w{ 
  

  position: relative; /* Make the parent container a positioning context */
  width: 100%; /* Adjust as needed */
  height: auto; /* Adjust as needed */
  transition:0.3s ease-in-out;
  color: white;

}
.expl{
  margin-top: 10px;
}

.text{
  writing-mode: vertical-lr; /* Rotate text vertically from right to left */
  transition: 0.3s ease-in-out;
  width: auto;
  font-size: 22px;
  padding: 10px;
  color: black;
}
.textn{
  writing-mode: vertical-lr; /* Rotate text vertically from right to left */
  transition: 0.3s ease-in-out;
  width: auto;
  font-size: 22px;
  padding: 10px;
  color: black;
}
.text:hover{
  background-color: rgba(100, 100, 100, 0.2);
}

.buttons{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  


}

.fbuttons{
  height: 100%;
  right: 0px;
  
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  



  
}





/* Styles for phones or smaller screens */
@media (max-width: 768px) {
  .top_row{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .title_text{
    font-size: 50px;
  }
  .normal_text{
    font-size: 15px;
  }
  .nnormal_text{
    font-size: 15px;
  }
 
  .singleThing{
    flex-direction: column;
  }
  .image_container{
    width: 85%;
    height: 200px;
  }
  .text_container{
    margin: 0px;
  }
  .text_container{
    width: 100%;
  }
  .dates{
    font-size: 20px;
    font-weight: 400;
    margin: 3px;
    padding-top: 7px;
   
    
  
  }
  .buttons{
    position: absolute;
    right: 0px;
    height: 100%;

    
  }
  
}
